@media (max-width: 800px){
    .sidebar {
        display: none;
    }
    .main {
    width: 80%;
    }
}

@media (min-width: 30em) and (orientation: landscape){
    #container {
        flex-direction: column;
        justify-content: center;
    }
}