body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    /* Adding display to flex to stop div overflow*/
    display: flex;
    /* Add Flex direction to change main axis direction - default is row (left-to-right) */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    flex-direction: column;
}

#container div{
    width:200px;
    height: 200px;
}